{% extends 'home/homebase.html' %}

{% block title %} {{ settings.title }} {% endblock %}
{% block keywords %} {{ settings.keywords }} {% endblock %}
{% block author %} {{ settings.author }} {% endblock %}
{% block description %} {{ settings.description }} {% endblock %}

{% block container %}
<section><!--form-->
    <div class="container">
        <div class="row">
            
            <div class="col-sm-1">
                <h2> Tasarım Aşamasında ...</h2>
            </div>
            
        </div>
    </div>
</section><!--/form-->
{% endblock %}

</body>
</html>