{% extends 'home/homebase.html' %}

{% block title %} {{ settings.title }} {% endblock %}
{% block keywords %} {{ settings.keywords }} {% endblock %}
{% block author %} {{ settings.author }} {% endblock %}
{% block description %} {{ settings.description }} {% endblock %}

{% block container %}
<section><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form"><!--login form-->
                    <h2>Hesabınıza Giriş Yapın</h2>
                    <form action="#" method="POST">
                        {% csrf_token %}
                        {% if error %}
                            <div class="alert alert-warning">{{error}}</div>
                        {% endif %}
                        <input type="text"  class="form-control" placeholder="Kullanıcı Adı" name="username" />
                        <input type="password" class="form-control" placeholder="Password" name="password"/>
                        <span>
                            <input type="checkbox" class="checkbox"> 
                            Oturumu açık tut
                        </span>
                        <button type="submit" class="btn btn-default">Giriş Yap</button>
                    </form>
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form"><!--sign up form-->
                    <h2>Yeni Kullanıcı Kaydı!</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {% if rerror %}
                            <div class="alert alert-warning">{{rerror}}</div>
                        {% endif %}

                        {% if success %}
                            <div class="alert alert-success">{{success}}</div>
                        {% endif %}

                        <input type="text" class="form-control" placeholder="Adınız" name="firstname" value="{{firstname}}"/>
                        <input type="text" class="form-control" placeholder="Soyadınız" name="lastname" value="{{lastname}}" />
                        <input type="text" class="form-control" placeholder="Kullanıcı Adı" name="username" value="{{username}}"/>
                        <input type="email" class="form-control" placeholder="E-Mail Adresiniz" name="email" value="{{email}}"/>
                        <input type="password" class="form-control" placeholder="Şifreniz" name="password"/>
                        <input type="password" class="form-control" placeholder="Şifreniz Tekrar" name="re-password"/>
                        <button type="submit" class="btn btn-default">Kayıt Ol</button>
                    </form>
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section><!--/form-->
{% endblock %}

</body>
</html>