{% extends 'home/homebase.html' %}

{% block title %} Products | {{ settings.title }}  {% endblock %}
{% block keywords %} {{ settings.keywords }} {% endblock %}
{% block author %} {{ settings.author }} {% endblock %}
{% block description %} {{ settings.description }} {% endblock %}
{% load static %}

{% block container %}
    <section id="advertisement">
        <div class="container">
            <img src="{% static 'images/shop/advertisement.jpg' %}" alt="" />
        </div>
    </section>
	<section>
		<div class="container">
			<div class="row">

				<div class="col-sm-12 padding-left">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Tüm Ürünler</h2>
						{% if products|length > 0 %}
                        	{% for product in products %}
                            	{% if product.is_active %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<img src="{{ product.image.url }}" alt="{{ product.title }}" />
													<h2>${{ product.price }}</h2>
													<a href="{% url 'product' %}{{ product.slug }}" class="productinfo text-center">
														<p>{{ product.title }}</p>
													</a>
													<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
												</div>
												<div class="product-overlay">
													<div class="overlay-content">
														<a href="{% url 'product' %}{{ product.slug }}">
														<h2>${{ product.price }}</h2></a>
														<a href="{% url 'product' %}{{ product.slug }}" class="productinfo text-center">
															<p>{{ product.title }}</p>
														</a>
														<a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
													</div>
												</div>
											</div>
											<div class="choose">
												<ul class="nav nav-pills nav-justified">
													<!--<li><a href=""><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
													<li><a href=""><i class="fa fa-plus-square"></i>Add to compare</a></li>-->
												</ul>
											</div>
										</div>
									</div>
								{% endif %}
			            	{% endfor %}
		            	{% else %}
			        
                        	<div class="alert alert-warning">Ürün Kaydı Bulunamıyor.</div>
		
		           		 {% endif %}
						
						<ul class="pagination">
							<li class="active"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">&raquo;</a></li>
						</ul>
					</div><!--features_items-->
				</div>
			</div>
		</div>
	</section>
	
{% endblock %}

</body>
</html>